<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>RAFlash Assets Editor</title>
        <link rel="stylesheet" href="styles.css">
        <style>
            body {
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }

            input, textarea, select {
                -webkit-user-select: auto;
                -ms-user-select: auto;
                user-select: auto;
            }

            .btn-new {
                background-color: #1e7e34;
                color: white;
            }

            .btn-remove {
                background-color: #bd2130;
                color: white;
            }

            .active {
                background-color: #4A90E2 !important;
                color: white;
            }

            .requirements-table th {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container" v-scope v-if="ready">
            <header class="editor-header">
                <div class="header-form-fields">
                    <div class="header-row">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" v-model="selectedAsset.name" @change="save()">
                        </div>
                        <div class="form-group form-group-small">
                            <label for="id">ID</label>
                            <input type="text" id="id" :value="selectedAsset.id" readonly>
                        </div>
                    </div>

                    <div class="header-row">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" id="description" v-model="selectedAsset.description" @change="save()">
                        </div>
                        <div class="form-group form-group-small">
                            <label for="type">Type</label>
                            <select id="type" v-model="selectedProgressionType">
                                <option v-for="option in progressionOptions" :key="option.value" :value="option.value">{{option.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="header-row">
                        <div class="form-group form-group-x-small">
                            <label for="points">Points</label>
                            <select id="points" v-model="selectedPoints">
                                <option v-for="option in pointsOptions" :key="option.value" :value="option.value">{{option.text}}</option>
                            </select>
                        </div>
                        <div class="spacer"></div>
                        <div class="form-group-checkbox">
                            <input type="checkbox" id="active-check" checked>
                            <label for="active-check">Active</label>
                        </div>
                        <div class="spacer"></div>
                        <div class="form-group form-group-small">
                            <label for="badge">Badge</label>
                            <div class="input-with-button">
                                <input type="text" id="badge" value="64056">
                                <button class="btn btn-secondary btn-compact">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="header-badge-image">
                    <img alt="Badge Image">
                </div>
            </header>

            <div class="editor-main">
                <div class="editor-panel left-panel">
                    <h3 class="panel-title">Groups</h3>
                    <ul class="group-list">
                        <li v-for="(group, index) in selectedAsset.groups" :key="group.id" @click="selectedGroupId = group.id" :class="group.id === selectedGroupId ? 'active' : ''">
                            {{group.type === 'CORE' ? 'Core' : `Alt ${index}`}}
                        </li>
                    </ul>
                    <div class="button-group">
                        <button class="btn btn-icon" @click="addAltGroup()">+</button>
                        <button class="btn btn-icon" @click="removeAltGroup(selectedGroupId)">-</button>
                    </div>
                </div>
                <div class="editor-panel right-panel">
                    <div class="panel-header">
                        <h3 class="panel-title">Requirements</h3>
                        <div class="button-group">
                            <div class="form-group-checkbox"><input type="checkbox" id="h-check"><label for="h-check">Highlights</label></div>
                            <div class="form-group-checkbox"><input type="checkbox" id="pr-check"><label for="pr-check">Pause on Reset</label></div>
                            <div class="form-group-checkbox"><input type="checkbox" id="pt-check"><label for="pt-check">Pause on Trigger</label></div>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="requirements-table">
                            <thead>
                                <tr>
                                    <th>ID</th><th>Flag</th><th>Type</th><th>Memory</th><th>Cmp</th><th>Type</th><th>Mem/Val</th><th>Hits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(req, index) in selectedGroup.requirements" :key="req.id" @click="selectedRequirementId = req.id" :class="req.id === selectedRequirementId ? 'active' : 'not-active'">
                                    <td>{{index+1}}</td>
                                    <td><select v-model="req.flag"><option v-for="option in flagOptions" :value="option.value">{{option.text}}</option></select></td>
                                    <td><select v-model="req.typeA"><option v-for="option in typeOptions" :value="option.value">{{option.text}}</option></select></td>
                                    <td><input v-model="req.addressA"></td>
                                    <td><select v-model="req.cmp"><option v-for="option in cmpOptions" :value="option.value">{{option.text}}</option></select></td>
                                    <td><select v-model="req.typeB"><option v-for="option in typeOptions" :value="option.value">{{option.text}}</option></select></td>
                                    <td><input v-model="req.addressB"></td>
                                    <td>{{req.hits}} ({{req.maxHits}})</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <footer class="editor-footer">
                <button class="btn btn-secondary">Copy Definition</button>
                <div class="spacer"></div>
                 <div class="button-group">
                    <button class="btn btn-new" @click="newRequirement()">New</button>
                    <button class="btn btn-remove" @click="removeRequirement()">Remove</button>
                 </div>
                 <div class="button-group">
                    <button class="btn btn-secondary">Copy</button>
                    <button class="btn btn-secondary">Paste</button>
                 </div>
                 <div class="button-group">
                    <button class="btn btn-secondary">Move Up</button>
                    <button class="btn btn-secondary">Move Down</button>
                 </div>
                 <div class="spacer"></div>
                 <div class="form-group-checkbox"><input type="checkbox" id="dec-check"><label for="dec-check">Show Decimal</label></div>
            </footer>
        </div>
    </body>
</html>
